body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
}


header {
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 2rem;
  text-decoration: none;
  color: #000000;
}
nav a:hover{
  background-color: #B8F2FF;
}    

.hero, .projects, .contact-form {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  color: #FEFEFE
}


.project {
  background: #fff;
  border: 1px solid #eee;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  color: #121212
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: #777;
}
